.Employee {
     width: 50%;
     border: 2px solid #aaa;
     margin: 20px;
     border-radius: 5px;
     text-align: left;
     
}

.Employee p{
     margin: 8px;
     color: crimson;
}

.Employee span
{
     color: black;
     width: 100px;
}

.Employee:hover
{
     background-color: beige
}