.Employee {
     width: 50%;
     border: 2px solid #aaa;
     margin: 20px;
     border-radius: 5px;
     text-align: left;
     margin-left: 50px;
     
}

.Employee p{
     margin: 8px;
     color: rgb(54, 40, 43);
     margin-left: 20px;
}

.Employee span
{
     color: black;
     display: inline-block;
     min-width: 100px;
}

.Employee:hover
{
     background-color: beige
}