.Form
{
     margin-top: 150px;
     display: block;
     border: 1.5px solid #ccc;
     width: 50%;
     box-sizing: border-box;
     border-radius: 5px;
     background-color: beige;
     margin-left: 25%;
}
.Form div {
     margin: 15px;
}
.Form label {
     width: 150px;
}
.Form button {
     margin: 2px;
}